.topContainer{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

#stripe {
  width: 64px;
  height: 3px;
  background: rgba(65, 0, 243, 0.562);
  position: absolute;
  transition: left 0.3s;
}