.topContainer{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

#headerstripe {
  width: 64px;
  height: 3px;
  position: absolute;
  bottom: 0;
  transition: left 1.0s;
  transition: width 1.0s;
  transition: background 0.5s;
}